.nav {
  display: flex;
  flex-direction: row;
}

li {
  padding: 10px 15px;
  list-style: none;
  color: blue;

  &.active {
      background-color: blue;
      color: white
  }
}
.btn{
  padding: 10px;
  border-radius: 10%;
  margin-bottom: 10px;
}